*{
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	outline-style: none;	
	border:none;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 300px;
	background-color: #313233;
	margin:  0 auto;
	margin-top: 50px;
}

.content{
	display: flex;
	flex-direction: column;
	width: 100%;
}


.title{
	width: 100%;
	height: 40px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #EB693A;
}
.title h3{
	color:white;
}

.todo-form{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	margin: 15px 0px;
}

.todo-input{
	width: 65%;
	text-align: center;
	border-radius: 5px;
	margin-right: 15px;
}

.todo-input::placeholder {
  color: #737373;
}

.add-button{
	border-radius: 5px;
	font-weight: bolder;
	padding: 10px;
	color: #ffffff;
	background-color: #313233;
	border: 1px solid #ffffff;
}

.add-button:hover{
	transition: all 0.5s;
	background-color:#737373	;
	cursor: pointer;
}

.todo-list{
	width: 100%;
	color:#ffffff;
	margin-bottom: 10px;
}

.data-index{
	color: #EB693A;
}

.todo-item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
}